body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav button {
    background-color: #9d9d93;
}

nav button:hover {
    background-color: #474843;
}


header {
    background-image: url('./img/fondo-inicio-sillones.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 45em;
    margin: 0;
    color: white;
}

header h1 {
    font-size: 2em;
}

i {
    padding: 5px;
    font-size: 2em;
}

section {

    padding: 2em;
    border-bottom: 1px solid #ccc;
    color: white;
}

.section-01 {
    background-color: #d88a8a;
    font-size: larger;
}

#section-02 {
    background-color: #474843;
    color: white;
}

.section-03 {
    color: black;
    background-color: #f8edd1;
}

.section-03 i {
    margin: 28px;
    font-size: 6em;
    color: #474843;
    font-weight: 25rem;
}

.section-03 li {
    line-height: 18px;
}

.section-04 {
    background-color: #d88a8a;
    color: black;
}

#btenviar {
    background-color: #474843;
    padding: 5px;
    border-color: #f8edd1;
    color: white;

}

#btenviar:hover {
    background-color: #f8edd1;
    padding: 5px;
    border-color: white;
    color: black;
}



footer {
    background-color: #474843;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}