body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav button {
    background-color: #9d9d93;
}

nav button:hover {
    background-color: #474843;
}


header {
    background-image: url('./img/wallpaper-creative.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 40em;
    margin: 0;
}

header h1 {
    padding: 2em;
    font-size: 2em;
    color: black;
    text-align: left;
}

section {
    height: 40em;
    padding: 2em;
    border-bottom: 1px solid #ccc;
    color: white;
}

.section-01 {
    background-color: #d88a8a;
    font-size: larger;
}

#section-02 {
    background-color: #474843;
    color: black;
}

.section-03 {
    background-color: #f8edd1;
}

.section-04 {
    background-color: #d88a8a;
    color: black;
}

.section-05 {
    background-color: #f8edd1;
}



footer {
    background-color: #474843;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    bottom: 0;
}